@font-face {
  font-family: 'goodbrush';
  src: url(fonts/goodbrush.ttf);
}

body{
    background-color: black;
}

.crimson{
    background-color: #760E0E;
}
.cream{
    background-color: #DFD9BB;
}
.green{
    background-color: #344434;
}
.gold{
    background-color: #C1AE4C;
}
.darktext{
    color: black;
}


.py-6{
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

.py-7{
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

.py-8{
    padding-top: 15rem;
    padding-bottom: 15rem;
  }

.p-6{
    padding: 8.5rem;
}

.p-7{
    padding: 10rem;
}

.p-8{
    padding: 15rem;
}

.px-6{
    padding-left: 5rem;
    padding-right: 5rem;
  }

.px-7{
    padding-left: 10rem;
    padding-right: 10rem;
  }

.px-8{
    padding-left: 15rem;
    padding-right: 15rem;
  }

.mx-8{
    margin-left: 15rem;
    margin-right: 15rem;
  }
.redmargin{
    margin: 70px;
    border: 1px solid #760E0E;
}
h1{
  font-family: goodbrush;
  font-size: 2.25rem;
  color: #DFD9BB;
}
h2{
  font-family: 'Lato', sans-serif;
  color: #DFD9BB;
  font-size: 1.25rem;
}
p{
  font-family: 'Lato', sans-serif;
  color: #DFD9BB;
  font-size: 0.75rem;
}
.stylebtn{
  font-size: 0.75rem;
  font-weight: bold;
  color: #DFD9BB;
  background-color: #760E0E;
  border-color: #760E0E;
}
h3{
  color: #DFD9BB;
  font-weight: lighter;
  font-size: 0.75rem;
}
h4{
  color: #DFD9BB;
  font-weight: lighter;
  font-size: 0.5rem;
}
.bg-paragraph{
  background-color: #344434;
}
.form-control{
  border: #344434;
}
.formtext-color{
  color: #DFD9BB;
  font-weight: lighter;
  font-family: 'Lato', sans-serif;
  font-size: 0.75rem
}
i{
  color: #DFD9BB;
}