body{
    background-color: black;
}

.crimson{
    background-color: #760E0E;
}
.cream{
    background-color: #DFD9BB;
}
.green{
    background-color: #344434;
}
.gold{
    background-color: #C1AE4C;
}
.darktext{
    color: black;
}
