body{
    background-color: black;
}

.crimson{
    background-color: #760E0E;
}
.cream{
    background-color: #DFD9BB;
}
.green{
    background-color: #344434;
}
.gold{
    background-color: #C1AE4C;
}
.darktext{
    color: black;
}

.py-8 {
    padding-top: 15rem;
    padding-bottom: 15rem;
  }

.py-6 {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }